{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load hitcount_tags %}
{% block title %}Search Result{% endblock title %}

{% block content %}

<div class="container my-5" style="padding-top: 50px;">
  <center><h4>You search for {{q}}</h4></center>
  <div class="row">
      {% for x in videos %}
      <div class="col-md-4">
        <div class="card h-100">
          <video controls autoplay="false">
            <source src="{{x.video.url}}" type="video/mp4" />
          </video>
          <div class="card-body">
            <h5 class="card-title">{{x.caption}}</h5>
            <p class="card-text">Uploded by {{x.user.name}}
            </p>
            <p>{% get_hit_count for x %} Views</p>
            <form action="{% url 'video-detail' x.id %}" method="get">
              <input type="hidden" name="postid" value="{{x.id}}">
              <button type="submit" class="btn btn-styled">See Details</button>
            </form>
            <!-- <a href="{% url 'video-detail' x.id %}" class="btn btn-primary">See Details</a> -->
          </div>
        </div>
      
      </div>
      {% endfor %}
</div>
</div>

{% endblock content %}